.iframe {
  border: none !important;
}

.Charts_app-embedding_logo---32TfV {
  opacity: 0 !important;
  height: 0 !important;
  color: white;
}

/* .iframe .Charts_layout_layout---81BmB {
  display: none !important;
} */
